@import '~@payloadcms/ui/scss';
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles';

/**  BULK   **/

#heading-_select {
  display: none;
}

.cell-_select {
  display: none;
}

// [aria-controls="list-controls-columns"] {
//   display: none;
// }

// .collection-list--requests .list-controls {
//   display: none;
// }

/* ///////////////////////// */

/* READ ONLY FIELDS */
.field-type.select.read-only {
  display: none !important;
}

.checkbox-input--read-only {
  display: none;
}

.relationship--read-only {
  display: none;
}

/* ///////////////////////// */

/* HIDE TITLE FROM REQUESTS */
[for="field-titulo"] {
  display: none;
}

#field-titulo {
  display: none;
}

/* ///////////////////////// */

/* ///////////////////////// */

/* HIDE TITLE FROM REQUESTS */
// [for="field-department"] {
//   display: none;
// }

// #field-department {
//   display: none;
// }

/* ///////////////////////// */

/* [for='field-state'] {
    display: none;
}

#field-state {
    display: none;
} */


.upload__dropzoneContent__orText{
  display: none;
}
.upload__listToggler{
  display: none;
}

.days-gastados{
 width: fit-content;
 margin-top: 10px;
 margin-left: auto;
 border: 0;
 .collapsible__toggle-wrap{
  background: aquamarine;
  color: black;
  border-radius: 10px;
  width: fit-content;
  font-weight: bold;
 }
 .collapsible__content .collapsible__content{
  border: 1px solid aquamarine;
 }
}
.localizer {
  display: none;
}

.app-header__account{
  display: none;
}

.modal-bg-blur {
  backdrop-filter: blur(2px);
}